@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  button {
    @apply hover:brightness-125 transition ease-in-out duration-300;
  }
}

body,
html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  min-height: 100vh;
}
#root {
  min-height: 100vh;
}

.portfolioComp:nth-child(1) {
  grid-column: span 5;
}

.portfolioComp:nth-child(2) {
  grid-column: span 7;
}

.portfolioComp:nth-child(3) {
  grid-column: span 4;
}

.portfolioComp:nth-child(4) {
  grid-column: span 4;
}

.portfolioComp:nth-child(5) {
  grid-column: span 4;
}

.galleryComp:nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}

@media Screen and (width >= 760px) {
  .projectComp:nth-child(even) {
    transform: translateY(40px);
  }
}
@media Screen and (width >= 1040px) {
  .right-hero {
    clip-path: polygon(26% 0, 100% 0%, 100% 100%, 0 100%);
  }
}
